In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:\\Users\\Dell\\Desktop\\bank.csv")

In [3]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [4]:
df1= df[["duration","age","day","balance","deposit"]]

In [5]:
df1.isnull().sum()

duration    0
age         0
day         0
balance     0
deposit     0
dtype: int64

In [6]:
df1.head()

   duration  age  day  balance deposit
0      1042   59    5     2343     yes
1      1467   56    5       45     yes
2      1389   41    5     1270     yes
3       579   55    5     2476     yes
4       673   54    5      184     yes

In [7]:
df1['deposit']=df1['deposit'].map({'yes':1,'no':0})

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
X= df1.iloc[:,:-1]

In [9]:
y = df1.iloc[:,-1]

In [10]:
X.head()

   duration  age  day  balance
0      1042   59    5     2343
1      1467   56    5       45
2      1389   41    5     1270
3       579   55    5     2476
4       673   54    5      184

In [11]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: deposit, dtype: int64

In [12]:
# spliting the train and test using sklearn
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    stratify=y, 
                                                    test_size=0.25)

In [13]:
from sklearn.ensemble import RandomForestClassifier
classifier= RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [14]:
y_pred = classifier.predict(X_test)

In [15]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)

In [16]:
score

0.7520601934790397

In [17]:
import pickle

In [18]:
pickle_out = open("classifier.pkl","wb")
pickle.dump(classifier,pickle_out)
pickle_out.close()

In [21]:
classifier.predict([[1023,55,1,2343]])

array([1], dtype=int64)